/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 mars 2022, 23:18:42
    Author     : karim
*/
.primary-color{
    -fx-background-color:  #171717;
    
}
.secondary-color{
    -fx-background-color: #0a0512;
    -fx-opacity: 0.5;
}
.round-border{
    -fx-background-radius: 10;
}
.label{
   -fx-text-fill: #cccccc;
}
.button
{
-fx-background-color : transparent;
-fx-text-fill : white;
}
#borderpane{
    border-radius: 15px;
}


.button:hover
{
-fx-background-color : #10165F ;

}
.button:pressed
{
-fx-background-color : #2F2B43 ;

}
input[text]{
     -webkit-text-fill-color:#FFFFff;
}

.combo-box
{
    -fx-background-color : #171717;
    -fx-border-color:  #515658;
    -fx-border-radius: 30;
}
.combo-box:hover
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFFff;
    -fx-border-radius: 30;
}
.combo-box:pressed
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFFff;
    -fx-border-radius: 30;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}
.listcell{
     -fx-background-color:#02030A
}
.scroll-pane {
    -fx-background-color: #171717;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
.listcell{
    -fx-background-color:#02030A;
}


.tf
{   
    -fx-background-color : #141124;
    -fx-border-color:  #515658;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}
.tf:hover
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFFff;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}
.tf:pressed
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFFff;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}


.text-area .content {
    -fx-background-color:  #141124 ;
    -fx-border-color:  #515658;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    
    -fx-background-color:  #cccccc ;
}